:global(.react-datepicker) {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border: none !important;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

:global(.react-datepicker__month-container) {
    width: 260px;
}

:global(.react-datepicker__month-text) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem; 
    height: 2rem;
    font-size: 14px;
    margin: 2px;
    border-radius: 6px;
}

:global(.react-datepicker__month) {
    margin: 0.5rem;
}

:global(.react-datepicker__current-month),
:global(.react-datepicker-year-header) {
    font-size: 16px !important;
    font-weight: 600 !important;
    padding: 8px 0 !important;
}

:global(.react-datepicker__navigation) {
    width: 2rem !important;
    height: 2rem !important;
    top: 0.4rem !important;
}

:global(.react-datepicker__navigation-icon::before) {
    border-width: 2px 2px 0 0 !important;
    width: 0.5rem !important;
    height: 0.5rem !important;
    top: 10px !important;
}

:global(.react-datepicker__close-icon) {
    padding: 0 10px 0 0 !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
}

:global(.react-datepicker__close-icon::after) {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    content: "×" !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer;
}

:global(.react-datepicker__close-icon:hover::after) {
    color: white !important;
}

:global(.react-datepicker-popper) {
    z-index: 9999 !important;
}